.navbar{
    display: flex;
}
.slidebar{
    position: relative;
    margin: 0px 100px 0px 100px;
}
.slidebar2{
    top: 30px;
    margin-left: 5px;
    
    padding: 5px;
    z-index: 1;
    border: 2px solid;
    position: absolute;
    color: black;
    background-color:white;
    border: 1px solid;
    opacity: 80%;
}
.shopcard{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 20px;
}
.card-containers{
     display: grid;
    grid-template-columns: auto auto auto ;
}
@media (max-width: 600px) {
    .slidebar{
      margin: 0%;
      width: 100%;
      height: 100%;
    }
    .slidebar2{
font-size: 5px;
margin: auto;

    }
.card-container{
    margin-top: 0px;
}
.shopcard{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    margin: 20px;
}
.card-containers{
     display: flex;
     flex-direction: column;
}
}