.card-container {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  flex-wrap: wrap;

  padding: 20px;
}
.card {
  position: relative;
  width: 220px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}
.view-btn {
  display: none;
  position: absolute;
  bottom: 7px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card:hover .view-btn {
  display: block;
}
.card:hover #content{
    display: none;
}
.view-btn:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
.card-container{
  display: flex;
  flex-direction: row;
gap: 40px;

}

}

